html{
  font-size: 18px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100%;
  background-color: #000;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
  background:rgb(0, 0, 0);
  }

footer {
  color: #ffffffd0;
}

footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.74);
}

/* Шапка сайта НАЧАЛО */
main a {
    color: rgb(94, 94, 94); /* Цвет текста */
    background: rgb(255, 255, 255); /* Цвет фона */
    padding: 2px; /* Поля вокруг текста */
    transition: -1s linear; /* Время изменения */
    text-decoration: none;
  }

main a:hover {
  color: #215dccd3; /* Цвет текста */
  background: rgb(255, 255, 255); /* Цвет фона */
  }

.menu {
  flex-grow: 1;
  }

.menu ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 2px 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  list-style: none;
  }

.menu li {
  margin-right: 50px;
  }

.menu li:last-child {
  margin-right: 0;
  }

.menu a {
  color: #000; /* Цвет текста */
  background: rgb(255, 255, 255); /* Цвет фона */
  padding: 2px; /* Поля вокруг текста */
  transition: 0s linear; /* Время изменения */
  text-decoration: none;
  }

.menu a:hover {
  color: #ffffff; /* Цвет текста */
  background: #215dccd3; /* Цвет фона */
  }

.logo {
  padding-top: 20px;
  padding-left: 10%;
   margin-right: 30px;
  }

.menu a,
.menu .active {
  display: block;
  padding: 8px 10px;
  text-transform: uppercase;
  letter-spacing: .27em;
  }

.menu .active {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 8px;
}


.phone {
  padding-right: 10%;
  font-size: 20px;
  line-height: 24px;
}
.phone a {
  color: rgba(136, 136, 136, 0.63);
  text-decoration: none;
}

/* Шапка сайта КОНЕЦ */

/* Тело BLOG НАЧАЛО. Главная надпись. */

.tagline,
.tagline1,
.tagline2 {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: auto;
  }

.tagline-text {
    margin-top: 5%;
    margin-bottom: 15%;
  }

.tagline-text h1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 9vw;
  background-color: #000000;
  /* background-image: linear-gradient(90deg, #001799, #bac6f8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
 }

 
/* Тело BLOG КОНЕЦ. Главная надпись. */

/* Статья №1 НАЧАЛО */

/* Блок #4 на стр. INDEX НАЧАЛО */

.index_article1:after {
  content: "";
  display: table;
  clear: both;
}

.index_article1 > div {
  width: 80%;
  float: left;
  background: #215dcc;
  background-image: url(../img/coding.jpg);
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
  margin: 0 10%;
  margin-bottom: 5%;
  text-align: center;
  position: relative;
  padding-bottom: 20%;
  cursor: pointer;
  -webkit-transition:all 0.35s linear;
  transition:all 0.35s linear;
  border-radius: 20px;
}


/*Тень снизу у блока при наведении*/
.index_article1 > div:hover {
  -webkit-box-shadow: 0 35px 35px -35px #ffffff;
  -moz-box-shadow: 0 35px 35px -35px #ffffff;
  box-shadow: 0 35px 35px -35px #ffffff;
}

.index_article1 h1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: left;
  background		: rgb(0, 0, 0); /* на случай, если следующая строка не сработает */
	background		: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  font-size: 4vw;
  line-height: 5vw;
  margin: 5% 5%;
  margin-bottom: 10%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffffff;
  /* background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.index_article1 h3 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: left;
  background		: rgb(0, 0, 0); /* на случай, если следующая строка не сработает */
	background		: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  font-size: 2vw;
  margin: 5% 5%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffffffc9;
}

h1.news {
  padding-left: 0.7%;
  margin-right:72.5%;
}

h3.news {
  margin-right:9%;
  padding-left: 10px;
}
/* Блок #4 на стр. INDEX КОНЕЦ */

/* Статья №1 КОНЕЦ */

/* Подвал сайта НАЧАЛО */

.basement {
  margin-top: 10%;
  margin-bottom: 10%;
  flex-grow: 1;
}

.basement img {
  filter: invert(1);
}

.basement li {
  margin-bottom: 5%;
}

.basement li:last-child {
  margin-right: 0;
}

.basement ul {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
  list-style: none;
  margin: 2px 0 0;
  padding-left: 10%;
  padding-right: 10%;
}

/* Подвал сайта КОНЕЦ */