/* Шапка сайта НАЧАЛО */
.menu {
  flex-grow: 1;
}

.menu ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 2px 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  list-style: none;
}

.menu li {
  margin-right: 50px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: #000; /* Цвет текста */
  background: rgb(255, 255, 255); /* Цвет фона */
  padding: 2px; /* Поля вокруг текста */
  transition: 0s linear; /* Время изменения */
  text-decoration: none;
}

.menu a:hover {
  color: #ffffff; /* Цвет текста */
  background: #215dccd3; /* Цвет фона */
  background-image: linear-gradient(to bottom right, #274ab6, #548dd6); /*Градиент фона*/
}

.logo {
  padding-top: 20px;
  padding-left: 10%;
  margin-right: 30px;
}

.menu a,
.menu .active {
  display: block;
  padding: 8px 10px;
  text-transform: uppercase;
  letter-spacing: .27em;
}

.menu .active {
color: rgb(0, 0, 0);
background-color: #ffffffd3;
border-radius: 8px;
}


.phone {
  padding-right: 10%;
  font-size: 20px;
  line-height: 24px;
}
.phone a {
  color: rgba(136, 136, 136, 0.63);
  text-decoration: none;
}

/* Шапка сайта КОНЕЦ */

/* Шапка БУРГЕР НАЧАЛО */

.hamburger {
  display: none;
}

.hamburger .line {
  width: 24px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform:translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform:translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-5deg);
}

/* Шапка БУРГЕР КОНЕЦ */

/* Подвал сайта НАЧАЛО */

.basement {
  margin-top: 10%;
  margin-bottom: 10%;
  flex-grow: 1;
}

.basement li {
  margin-bottom: 5%;
}

.basement li:last-child {
  margin-right: 0;
}

.basement ul {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
  list-style: none;
  margin: 2px 0 0;
  padding-left: 10%;
  padding-right: 10%;
}

/* Подвал сайта КОНЕЦ */